<%= div_for comment do %>
<p>
  <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
  <%= h(comment.body) %>
  <% if authenticated? %>
    <%= link_to 'Destroy', comment, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<% end %>